<h4><%= t '.title' %></h4>
<br/>
<div>
  <% if @weight_rates.any? %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"><%=%>Modalidade</th>
          <th scope="col"><%=%>Peso Inicial</th>
          <th scope="col"><%=%>Peso Final</th>
          <th scope="col"><%=%>R$/Kg</th>
        </tr>
      </thead>
      <tbody>
        <% @weight_rates.each do |r| %>
          <tr>
            <td><%= @transport_mode.name %></td>
            <td><%= r.min_weight_range %> Kg</td>
            <td><%= r.max_weight_range %> Kg</td>
            <td>R$ <%= r.price_kg %>,00/Kg</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>