<h4><%= t '.title' %></h4><br/>
<div>
  <% if @orders.any? %>
    <div>
      <% @pending_orders.each do |order| %>
        <h5 class="text-danger"><%= t '.pending_orders' %></h5><br/>
        <h5><%= t '.subtitle' %>: <%= link_to(order.code, order_path(order.id)) %></h5>
        <div>
          <p><%= t '.ds_recipient_name' %>: <%= order.recipient_name %></p>
          <p><%= t '.ds_recipient_phone' %>: <%= order.recipient_phone %></p>
          <p><%= t '.pr_code' %>: <%= order.product_code %></p>
          <p><%= t '.order_status' %>: <%= I18n.translate(order.status) %></p>
          <p><%= t '.user_name' %>: <%= order.user.name %></p><br/>
        </div>
      <% end %>
    </div>
    <div>
      <% @running_orders.each do |order| %>
        <h5 class="text-danger"><%= t '.running_orders' %></h5><br/>
        <h5><%= t '.subtitle' %>: <%= link_to(order.code, order_path(order.id)) %></h5>
        <div>
          <p><%= t '.ds_recipient_name' %>: <%= order.recipient_name %></p>
          <p><%= t '.ds_recipient_phone' %>: <%= order.recipient_phone %></p>
          <p><%= t '.pr_code' %>: <%= order.product_code %></p>
          <p><%= t '.order_status' %>: <%= I18n.translate(order.status) %></p>
          <p><%= t '.user_name' %>: <%= order.user.name %></p><br/>
        </div>
      <% end %>
    </div>
    <div>
      <% @processing_orders.each do |order| %>
        <h5 class="text-danger"><%= t '.processing_orders' %></h5><br/>
        <h5><%= t '.subtitle' %>: <%= link_to(order.code, order_path(order.id)) %></h5>
        <div>
          <p><%= t '.ds_recipient_name' %>: <%= order.recipient_name %></p>
          <p><%= t '.ds_recipient_phone' %>: <%= order.recipient_phone %></p>
          <p><%= t '.pr_code' %>: <%= order.product_code %></p>
          <p><%= t '.order_status' %>: <%= I18n.translate(order.status) %></p>
          <p><%= t '.user_name' %>: <%= order.user.name %></p><br/>
        </div>
      <% end %>
    </div>
    <div>
      <% @closed_orders.each do |order| %>
        <h5 class="text-danger"><%= t '.closed_orders' %></h5><br/>
        <h5><%= t '.subtitle' %>: <%= link_to(order.code, order_path(order.id)) %></h5>
        <div>
          <p><%= t '.ds_recipient_name' %>: <%= order.recipient_name %></p>
          <p><%= t '.ds_recipient_phone' %>: <%= order.recipient_phone %></p>
          <p><%= t '.pr_code' %>: <%= order.product_code %></p>
          <p><%= t '.order_status' %>: <%= I18n.translate(order.status) %></p>
          <p><%= t '.user_name' %>: <%= order.user.name %></p><br/>
        </div>
      <% end %>
    </div>
  <% else %>
    <p><%= t '.message' %></p>
  <% end %>
</div>
