<%= link_to (t '.back'), orders_path, :class => "btn btn-danger" %>
<h4><%= t '.title' %></h4><br/>
<div>
  <h5><%= t '.subtitle' %>: <%= @order.code %></h5><br/>
  <br/>
  <div>
    <p><%= t '.order_status' %>: <%= I18n.translate(@order.status) %></p>
    <p><%= t '.user_name' %>: <%= @order.user.name %></p><br/>
  </div>
  <br/>
  <div>
    <p class="text-danger"><%= t '.pickup_section' %></p>
    <p><%= t '.ps_address' %>: <%= @order.pickup_address %></p>
    <p><%= t '.ps_zipcode' %>: <%= @order.pickup_zipcode %></p>
    <p><%= t '.ps_city' %>: <%= @order.pickup_city %></p>
    <p><%= t '.ps_state' %>: <%= @order.pickup_state %></p><br/>
  </div>
  <div>
    <p class="text-danger"><%= t '.product_section' %></p>
    <p><%= t '.pr_code' %>: <%= @order.product_code %></p>
    <p><%= t '.pr_dimension' %>: <%= @order.product_dimension %> <%= t '.cubic_meters' %></p>
    <p><%= t '.pr_weight' %>: <%= @order.product_weight %> <%= t '.kg' %></p><br/>
  </div>
  <div>
    <p class="text-danger"><%= t '.destination_section' %>
    <p><%= t '.ds_recipient_name' %>: <%= @order.recipient_name %></p>
    <p><%= t '.ds_recipient_phone' %>: <%= @order.recipient_phone %></p>
    <p><%= t '.ds_address' %>: <%= @order.deliver_address %></p>
    <p><%= t '.ds_zipcode' %>: <%= @order.delivery_zipcode %></p>
    <p><%= t '.ds_city' %>: <%= @order.delivery_city %></p>
    <p><%= t '.ds_state' %>: <%= @order.delivery_state %></p>
    <p><%= t '.ds_distance' %>: <%= @order.delivery_distance %> <%= t '.km' %></p><br/>
  </div>
</div>
<% if @order.pending? %>
  <%= button_to (t '.run_order'), run_order_path(@order.id), :class => "btn btn-danger" %>
<% end %>
<% if @order.running? %>
  <%= link_to 'Escolher Opção de Frete', edit_order_path(@order.id), :class => "btn btn-danger" %>
<% end %>

<% if @order.processing? || @order.closed? %>
  <div>
    <p class="text-danger"><%= t '.infos' %></p>
    <p><%= t '.run_date' %>: <%= I18n.l @order.order_run_date %></p>
    <p><%= t '.final_price' %>: <%= t '.currency' %> <%= @order.order_final_price %><%= t '.centimes' %></p>
    <p><%= t '.final_deadline' %>: <%= @order.order_final_deadline %> <%= t '.day' %></p>
    <br/>
  </div>
  <% if @order.processing? %>
    <%= button_to (t '.close_order'), close_order_path(@order.id), :class => "btn btn-danger" %>
  <% end %>
<% end %>

<% if @order.closed? %>
  <div>
    <p><%= t '.order_closing_date' %>: <%= I18n.l @order.order_closing_date %></p>
    <p><%= t '.delivery_final_status' %>: <%= I18n.translate(@order.delivery_final_status) %></p>
    <p><%= t '.justification' %>: <%= @order.justification %></p>
<% end %>
<br/>

