<h4><%= t '.title' %></h4><br/>
<div>
<% if @transport_modes.any? %>
    <% @transport_modes.each do |tm| %>
      <h5><%= t '.name' %>: <%= link_to(tm.name, transport_mode_path(tm.id)) %></h5>
      <p><%= t '.min_distance' %>: <%= tm.min_distance %> <%= t '.km' %> - <%= t '.max_distance' %>: <%= tm.max_distance %> <%= t '.km' %></p>
      <p><%= t '.min_weight' %>: <%= tm.min_weight %> <%= t '.kg' %> - <%= t '.max_weight' %>: <%= tm.max_weight %> <%= t '.kg' %></p>
      <p><%= t '.fixed_rate' %>: <%= t '.$' %> <%= tm.fixed_rate %><%= t '.centimes' %> - <%= t '.status' %>: <%= I18n.translate(tm.status) %></p><br/>
    <% end %>
<% else %>
  <p><%= t '.message' %></p>
<% end %>
</div>
<div>
  <% if current_user.admin? %>
    <%= link_to (t '.register'), new_transport_mode_path, :class => "btn btn-danger" %>
  <% end %>
</div>

