<%= link_to (t '.back'), transport_modes_path, :class => "btn btn-danger" %>
<h2><%= t '.title' %>: <%= @transport_mode.name %></h2>

<dl>
  <dt><%= TransportMode.human_attribute_name(:name) %></dt>
  <dd><%= @transport_mode.name %></dd>
  <dt><%= TransportMode.human_attribute_name(:min_distance) %>: </dt>
  <dd><%= @transport_mode.min_distance %> <%= t '.km' %></dd>
  <dt><%= TransportMode.human_attribute_name(:max_distance) %>: </dt>
  <dd><%= @transport_mode.max_distance %> <%= t '.km' %></dd>
  <dt><%= TransportMode.human_attribute_name(:min_weight) %>: </dt>
  <dd><%= @transport_mode.min_weight %> <%= t '.kg' %></dd>
  <dt><%= TransportMode.human_attribute_name(:max_weight) %>: </dt>
  <dd><%= @transport_mode.max_weight %> <%= t '.kg' %></dd>
  <dt><%= TransportMode.human_attribute_name(:fixed_rate) %>: </dt>
  <dd><%= t '.$' %> <%= @transport_mode.fixed_rate %><%= t '.centimes' %></dd>
  <dt><%= TransportMode.human_attribute_name(:status) %>: </dt>
  <dd><%= I18n.translate(@transport_mode.status) %></dd>
</dl>

  <div>
    <%= link_to (t '.weight_rate_index'), transport_mode_weight_rates_path(transport_mode_id: @transport_mode.id), :class => "btn btn-danger" %>
    <%= link_to (t '.distance_rate_index'), transport_mode_distance_rates_path(transport_mode_id: @transport_mode.id), :class => "btn btn-danger" %>
  </div>
<% if current_user.admin? %>
  <div>
    <%= link_to (t '.edit'), edit_transport_mode_path(@transport_mode.id), :class => "btn btn-danger" %>
  </div>
  <div>
    <%= link_to (t '.weight_rate_new'), new_transport_mode_weight_rate_path(transport_mode_id: @transport_mode.id), :class => "btn btn-danger" %>
    <%= link_to (t '.distance_rate_new'), new_transport_mode_distance_rate_path(transport_mode_id: @transport_mode.id), :class => "btn btn-danger" %>
  </div>
<% end %>


  







