<h4><%= t '.title' %></h4>
<br/>
<div>
  <% if @transport_mode.distance_rates.any? %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"><%= t '.th_mode' %></th>
          <th scope="col"><%= t '.th_initial_km' %></th>
          <th scope="col"><%= t '.th_final_km' %></th>
          <th scope="col"><%= t '.th_price' %></th>
          <th scope="col"><%= t '.th_id' %></th>
        </tr>
      </thead>
      <% @transport_mode.distance_rates.each do |r| %>
        <tbody>
          <tr>
            <td><%= @transport_mode.name %></td>
            <td><%= r.min_distance_rate %> <%= t '.km' %></td>
            <td><%= r.max_distance_rate %> <%= t '.km' %></td>
            <td><%= t '.currency' %> <%= r.price %><%= t '.centimes' %></td>
            <td><%= r.id %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  <% end %>
</div>